*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: tomato;
}

.navbar-container {
    background-color: #333;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: right;
    align-items: center;
}

.li-navbar {
 list-style-type: none;
 padding: 20px;
 margin: 5px;
 color: white;
 font-size: 30px;
}

.li-navbar:hover {
    background-color: tomato;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: yellow;
    text-decoration: none;
    font-style: normal;
}

.container-isi {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: #333;
    color: yellow;
    text-decoration: none;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 80px;

}

.img-content {
    width: 30%;
    height: 30%;
}

.container-footer {
    height: 10vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color: yellow;
    font-family:cursive;
}